{% extends 'base.html' %}
{% load static %}

{% block cuerpo %}
<div class="container-lg">
    <div class="container text-center"></div>
    {% if datos %}
    <h1 class="display-4" style="text-align: center;">Actualizar Producto: {{datos}}</h1>
    {% else %}
    <h1 class="display-4" style="text-align: center;">Crear Producto</h1>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row align-items-start">

            <div class="col">
                <input value="{{datos.nombre}}" type="text" name="nombre" placeholder="Nombre del producto"
                    class="form-control">
                <br>
                <input value="{{datos.color}}" type="text" name="color" placeholder="Color del producto"
                    class="form-control">
                <br>
                <input value="{{datos.descripcion}}" type="text" name="descripcion"
                    placeholder="Descripcion del producto" class="form-control">
                <br>

            </div>
            <div class="col">
                <input value="{{datos.categoria}}" type="text" name="categoria" placeholder="Categoria del producto"
                    class="form-control">
                <br>
                <input value="{{datos.talla}}" type="text" name="talla" placeholder="Talla del producto"
                    class="form-control">
                <br>
                <input value="{{datos.stock}}" type="number" min="0" max="999" name="stock" placeholder="Stock del producto" class="form-control">
                <br>
            </div>
            <div class="zona_botones">
                <div class="col-4 d-grid mx-auto">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}