{% extends 'base.html' %}
{% load static %}

{% block cuerpo %}

<!-- Bienvenida -->
<section id="inicio" class="bienvenida">
    <section class="welcome">
        <div class="texto_bienvenida">
            {% if request.session.logueado %}
                <h2>Bienvenido:</h2>
                {{ request.session.logueado.nombre }}!!
                <br>
            {% else %}
            No hay sesión.......
            {% endif %}

            <h2>{{ configuracion.hero_titulo }}</h2>
            <p>{{ configuracion.hero_texto }}</p>
            <ul>
                {% for i in vinetas %}
                <li>✔ {{ i.texto }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="imagen_bienvenida">
            {% if configuracion.hero_imagen %}
            <img src="{{ configuracion.hero_imagen.url }}" alt="{{ configuracion.nombre_empresa }}">
            {% endif %}
        </div>
    </section>
</section>


<!-- Caracteristicas -->
<section id="caracteristicas" class="contenedor-principal">
    <h2 style="color: #003d9b">{{ configuracion.titulo_caracteristicas }}</h2>
    <br>
    <div class="cards">
        {% for i in caracteristicas %}
        <div class="card" style="width: 18rem;">
            {% if i.imagen %}
            <img src="{{ i.imagen.url }}" class="card-img-top" alt="{{ i.titulo }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ i.titulo }}</h5>
                <p class="card-text">{{ i.texto }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Beneficios -->
<section id="beneficios" class="beneficios">
    <h2>{{ configuracion.titulo_beneficios }}</h2>
    <ul>
        {% for i in beneficios %}
        <li>{{ i.icono }} <strong>{{ i.titulo }}</strong> {{ i.texto }}</li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
