{% extends 'base.html' %}
{% load static %}

{% block cuerpo %}

<!-- Bienvenida -->
<section id="inicio" class="bienvenida">
    <section class="welcome">
        <div class="texto_bienvenida">
            <h2>Optimiza la gestión de tu inventario y pedidos con <strong>INTSHOT</strong></h2>
            <p>
                Un sistema diseñado especialmente para empresas textiles que buscan
                controlar insumos, productos terminados y pedidos de manera eficiente.
            </p>
            <ul>
                <li>✔ Registra clientes y pedidos fácilmente.</li>
                <li>✔ Supervisa tu inventario de materiales y prendas.</li>
                <li>✔ Accede a tus datos desde cualquier dispositivo.</li>
            </ul>
        </div>

        <div class="imagen_bienvenida">
            <img src="{% static 'img/INTSHOT.jpg' %}" alt="INTSHOT">
        </div>
    </section>
</section>


<!-- Caracteristicas -->
<section id="caracteristicas" class="contenedor-principal">
    <h2 style="color: #004aad">Caracteristicas</h2>
    <br>
    <div class="cards">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/inventario.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Inventario</h5>
                <p class="card-text">Control total productos e insumos con actualizaciones en tiempo real.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/Clientes.avif' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pedidos y Clientes</h5>
                <p class="card-text">Registra, edita y consulta fácilmente los pedidos realizados por tus clientes.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/Reportes.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Reportes y Control</h5>
                <p class="card-text">Genera reportes detallados para mejorar la toma de decisiones y el control interno.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Beneficios -->
<section id="beneficios" class="beneficios">
    <h2>¿Por qué elegir INTSHOT?</h2>
    <ul>
        <li>🚀 <strong>Rápido</strong> y con una interfaz moderna e intuitiva.</li>
        <li>🔒 <strong>Seguro</strong>, protege los datos de tu empresa.</li>
        <li>🧵 <strong>Ideal</strong> para talleres y empresas textiles.</li>
    </ul>
</section>

<p>{{ mensaje }}</p>

{% endblock %}