{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTSHOT</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/notificaciones.css' %}" />


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #183981e3;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inventario:landing' %}">
                <img src="{% static 'img/Logo-blanco.jpeg' %}" alt="INTSHOT" width="50" height="50">
            </a>
            <a class="navbar-brand" href="{% url 'inventario:landing' %}">INTSHOT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'inventario:landing' %}">Inicio</a>
                    </li>
                </ul>
                <span class="navbar-text text-white me-3">
                    <a class="nav-link" href="{% url 'inventario:login' %}">Iniciar sesión</a>
                </span>
            </div>
        </div>
    </nav>

    <section id="inicio" class="bienvenida">
        <section class="welcome">
            <div class="texto_bienvenida">

                <h2>Optimiza la gestión de tu inventario y pedidos con <strong>INTSHOT</strong></h2>
                <p>
                    Un sistema diseñado especialmente para empresas textiles que buscan
                    controlar insumos, productos terminados y pedidos de manera eficiente.
                </p>
                <ul>
                    <li>✔ Registra clientes y pedidos fácilmente.</li>
                    <li>✔ Supervisa tu inventario de materiales y prendas.</li>
                    <li>✔ Accede a tus datos desde cualquier dispositivo.</li>
                </ul>
            </div>

            <div class="imagen_bienvenida">
                <img src="{% static 'img/INTSHOT.jpg' %}" alt="INTSHOT">
            </div>
        </section>
    </section>


    <!-- Caracteristicas -->
    <section id="caracteristicas" class="contenedor-principal">
        <h2 style="color: #004aad">Caracteristicas</h2>
        <br>
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/inventario.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Inventario</h5>
                    <p class="card-text">Control total productos e insumos con actualizaciones en tiempo real.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/Clientes.avif' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pedidos y Clientes</h5>
                    <p class="card-text">Registra, edita y consulta fácilmente los pedidos realizados por tus clientes.
                    </p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/Reportes.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Reportes y Control</h5>
                    <p class="card-text">Genera reportes detallados para mejorar la toma de decisiones y el control
                        interno.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Beneficios -->
    <section id="beneficios" class="beneficios">
        <h2>¿Por qué elegir INTSHOT?</h2>
        <ul>
            <li>🚀 <strong>Rápido</strong> y con una interfaz moderna e intuitiva.</li>
            <li>🔒 <strong>Seguro</strong>, protege los datos de tu empresa.</li>
            <li>🧵 <strong>Ideal</strong> para talleres y empresas textiles.</li>
        </ul>
    </section>

    <div class="footer">
        {% include 'footer.html' %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/librerias.js' %}"></script>
</body>

</html>