{% extends 'base.html' %}
{% load static %}

{% block cuerpo %}
<div class="container-lg py-3">
    <div class="card shadow-sm">
        <div class="card-body p-4">
            
            {% if datos %}
                <h1 class="display-4">Actualizar Proveedor: {{ datos.nombre }}</h1>
            {% else %}
                <h1 class="display-4">Crear Proveedor</h1>
            {% endif %}
            <p class="text-muted mb-4">Complete la información del proveedor.</p>

            <form action="" method="post">
                {% csrf_token %}
                
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Nombre del Proveedor</label>
                            <input value="{{ datos.nombre }}" type="text" name="nombre" placeholder="Nombre del Proveedor" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Teléfono</label>
                            <input value="{{ datos.telefono }}" type="text" name="telefono" placeholder="Teléfono del Proveedor" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Correo electrónico</label>
                            <input value="{{ datos.correo }}" type="email" name="correo" placeholder="Correo del Proveedor" class="form-control">
                        </div>
                    </div>

                    <!-- Botón dentro del grid principal sin zona_botones -->
                    <div class="col-12 mt-4 text-center">
                        <button type="submit" class="btn btn-success px-5">Guardar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}